.venv
venv
__pycache__
**/__pycache__
*.py[cod]
*$py.class
.pytest_cache
.mypy_cache
.ruff_cache
.coverage
htmlcov
.git
.gitignore
.idea
.vscode
.env
.env.*
*.md
tmp*
*.pyc
.DS_Store
Thumbs.db
nltk_data
.cache
**/huggingface
**/.huggingface
**/transformers
**/.torch
**/torch_extensions
**/sentence-transformers
*.egg-info
dist
build
alembic/versions/__pycache__
